/*seletor universal*/
*{margin: 0;
padding: 0;
}

/*aplicando o css na raiz do arquivo, ai muda para todos*/
:root{
    font-family: "Alice", serif;
    font-style: normal;
    line-height: 150%;
} 

.main_img{
    border-radius: 16px;
}

body{
    background-image: url(assets/img_bg.png);
    background-size: cover;
}

#page{
    box-sizing: border-box;
    width: 800px;
    padding: 24px;
    background-color:#F0E8C2 ;
    border-radius: 24px;
    margin: 48px auto;
}

main{padding: 24px;}

h1 {
    font-size: 40px;
    line-height: 140%;
    margin-bottom: 4px;
}

h2{
    font-size: 24px;
    
}
.tempo_preparo{
    margin-top: 12px;
}

section{
    margin-top:24px;
}

h1, h2{
    margin-bottom: 4px;
    line-height: 150%;
}

ul{
    padding-left: 24px;
}

footer{
    color: #F0E8C2;
    text-align: center;
    padding-top: 28px;
    margin-bottom: 48px;
}